In [ ]:
# 데이터 읽어오기
raw_data = pd.read_csv('./data/차주정보.csv')#index_col='student number'
raw_data.head()

In [ ]:
#raw_data의 컬럼명과 index 명을 확인
raw_data.columns
raw_data.index

In [ ]:
# 컬럼명을 아래와 같이 수정
# strd_yymm : 수집년월
# deto_id : 사용자ID
# bth_yr : 생년

raw_data.rename(columns={"strd_yymm" : "수집년월","deto_id" : "사용자ID","bth_yr" : "생년"}, inplace =True)

In [ ]:
#인덱스를 1부터 50 까지의 정수로 수정
raw_data.index=raw_data.index+1

In [ ]:
#출생년도를 4개의 카테고리로 분류
#청년(19에서 29세); 중년(30에서 49세); 장년(50에서 64세); 노년(65세 이상))

bins=[1900,1957,1972,1992,2003]
labels=['노년','장년','중년','청년']
cats=pd.cut(raw_data['생년'],bins,labels=labels)
raw_data['연령대']=cats

In [ ]:
# sex_cd 필드의 값이 1이면 M, 2면 F

In [ ]:
#방법 1
raw_data['성별'] = 0
raw_data.loc[raw_data['sex_cd']==1, '성별']='M'
raw_data.loc[raw_data['sex_cd']==2, '성별']='F'
raw_data

raw_data.info()

In [ ]:
#방법2 


sex_data=[]
# sex_data=raw_data['sex_cd']

def F_or_M(row):
    if row == 1:
        return "M"
    else :
        return "F"
    
raw_data['성별']=raw_data["sex_cd"].apply(lambda x : F_or_M(x))

raw_data

In [ ]:
#방법3


# sex_data=raw_data["성별"]
성별=[]
for row in raw_data["sex_cd"]:
    if row == 1 :
        성별.append("M")
    else :
        성별.append('F')

raw_data

In [ ]:
#방법4 : numpy 패키지 사용

raw_data['성별'] = np.where(raw_data['sex_cd'] != 1, 'M', 'F')
raw_data
# 출처: https://nalara12200.tistory.com/162 [IT, 정보보안 자료실:티스토리]